{{#section 'head'}}
  <title>GCube | Done</title>
  <link type="text/css" rel='stylesheet' href='/css/done.css' />
{{/section}}

<div class="completed">
	<h4> 		
		<img src="images/shop_done.png"></img>
		<br> <br>
		<span style="font-size:24px">Completed!</span> <br> 
		Continue to play or go back and edit.
</h4>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<a role="button" href="/board" class="btn btn-lg btn-success">Play</a>
      	<a role="button" href="/" class="btn btn-lg btn-warning">Edit</a>
  </div>
</div>
